.Header{

    height: 50px;
    background: #61dafb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}
.Header a{
    text-decoration: none;
    color: beige;
}
.Header a[class='active']{
    color: red;
}